:root {
    --main: whitesmoke;
    --accent: olive;
    --highlight: darkkhaki;
    --text: darkolivegreen;

}

body {
    background: var(--main);
    color: var(--text)
}

ul li{
    text-decoration: none;
    display: inline-block;
    margin: 0 40px;
    font-size: large;
}
